/* From uiverse.io by @alexruix */
/*Magic card*/
.card {
  width: 390px;
  height: 110vh;
  background: rgba(200, 198, 198, 0.652);
  overflow: visible;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  min-height: var(--size);
  min-width: var(--size);
  border-radius: 50%;
  transform: translateY(-50%);
  background: #42caff;
  background: linear-gradient(to bottom, #42caff 0%, #e81aff 100%);
  position: relative;
  transition: all 0.3s ease-in-out;
  border: 1rem solid #e8e8e8;
}
.card-img img {
  position: relative;
  left: 25%;
  top: 20%;
}

/*Text*/
.text-title-Manager {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 18vh;
}
.text-title-designer {
  margin-top: 1vh;
  margin-bottom: 0;
  margin-left: 2vh;
}
.text-title-PM {
  margin-top: 1vh;
  margin-bottom: 0;
}
.text-title-PE {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10vh;
}
.text-body {
  color: #6f6d78;
  font-weight: 400;
}

/* Positionnement des cards */
.manager {
  position: absolute;
  left: 5%;
  margin-top: 5%;
  margin-right: 0;
}
.productmanager {
  position: absolute;
  left: 35%;
  margin-top: 5%;
  margin-right: 0;
}
.designer {
  position: absolute;
  margin-top: 5%;
  left: 65%;
  margin-right: 0;
}
.principalengeneer {
  position: absolute;
  left: 20%;
  margin-top: 65%;
  margin-right: 0;
}
.softwareengenir {
  position: absolute;
  left: 50%;
  margin-top: 65%;
  margin-right: 0;
}

/* /Positionnement des cards */

/* positionement du titre */
.title {
  position: relative;
  top: 5vh;
  left: 35%;
  width: 80vh;
}

/* /positionement du titre */

.organigrammeEquipe {
  background-color: #c7c7c7;
  position: absolute;
  top: 300vh;
  width: 95%;
  left: 2%;
  padding: 2em;
}

.organigrammeEquipe h1 {
  position: relative;
  left: 38%;
  margin-bottom: 10vh;
}

.org img {
  margin-left: 30%;
}
